@import url('https://fonts.googleapis.com/css?family=Dancing Script|Lobster|Montserrat|Open+Sans|Oxanium&display=swap');
</style>

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  position: relative;
}

:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-border: #ffffff34;
	--font-staat: 'Oxanium',cursive;
	--font-os: 'Open Sans',sans-serif;
	--font-ram: 'Montserrat',sans-serif;
	--font-hd: 'Lobster', cursive;
}

/*global classes*/

.font-hd{
	font:normal 400 18px var(--font-hd);
}

.font-staat{
	font:normal 400 18px var(--font-staat);
}

.font-os{
	font:normal 300 18px var(--font-os);
}
.font-ram{
	font:normal bold 18px var(--font-ram);
}

.font-size-40{
	font-size: 40px;
}

.font-size-34{
	font-size: 34px;
}


.font-size-27{
	font-size: 27px;
}


.font-size-20{
	font-size: 20px;
}

.font-size-16{
	font-size: 16px;
}

.font-size-12{
	font-size: 12px;
}


.bgcolor-black{
	background-color: var(--color-black);
}

/*global classes*/

.sectiontext{
	color: #5e2ced !important
}

#header{
	position: fixed;
	top: 0;
	left: -300px;
	width: 100vw;
	z-index:2;
	transition: left .5s ease;
}

#header nav{
	height: 100vh;
}

#header .site-title .navbar-brand{
	letter-spacing: 2px;
	color:var(--color-white);
}



#header .nav-link {
	margin: .7rem 1rem;
	border-bottom: 1px solid var(--color-border);
	text-transform: uppercase;
}

#header .nav-link:hover{
	color: var(--color-white)!important;
}

#header .toggle-button{
	background: none;
	color: var(--color-black);
	position: fixed;
	top: 25px;
	right: 20px;
	border: 1px solid var(--color-border);
}


.toggle-left{
	left: 0 !important;
	width: 1000px !important;
}

.img2{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	/*margin: auto;*/
	background: url(../../assets/images/1x1.JPG) no-repeat;
	background-size: 130%;
	background-position: 50% 0;
	margin-bottom: -0px;
	margin-top: -20px;
}

.description{
	font-family: "Dancing Script", cursive;
	font-size: 30px;
	margin-bottom: -20px;
	margin-top: -20px;
}


/*site-main / home */
/*Landing page background*/
.site-banner .banner-area{
	/*background-color: #1f2041;*/
  background-color: #d05353;
/*	background-image: url(../../assets/images/bg15.jpg);
	background-position: center ;
	background-size: cover;*/
	width: 100%;
	height: 100vh;
	position: relative;
}

























.homepage{
	background-image: url(../../assets/images/bg26.jpg) !important;
	background-position: top !important;
	background-size: cover !important;
	/*width: 70vw;
	height: 100vh;*/
	position: relative;
    width: 100%;
  height: 100vh;
}

.homepagetext{
	margin-top: 10rem !important;
  width: 40%;
}

.homesectiontext{
	color: #5e2ced;
}




.site-banner .banner-area .author{
	margin: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	background: url(../../assets/images/1x1.JPG) no-repeat;
	background-size: 130%;
	background-position: 50% 0;
}

.skill .bars p, .site-content .skill .bars span{
	line-height:  10px;
}

/*#site-main*/

#nav1{
	background-color: #d05353!important;
	/*background-color: rgba(255, 0, 0, .3) !important;*/
	/*background-image: url(../../assets/images/bg24.jpg) !important;
	background-position: center !important;
	background-size: cover !important;*/
}

#button1 {
	background-color: #2300B0;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	position: fixed;
	margin-top: 150px;
	padding: 20px 20px;
	border-radius: 10px;
}




#button2 {
    border-radius: 16px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    /*margin: 4px 2px;*/
    margin-top: 100px;
    border: 2px solid white;
  }
  
  #button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #button2:hover span {
    padding-right: 25px;
  }

  #button2:hover{
  	background-color: #60b2e5;
  }
  
  #button2:hover span:after {
    opacity: 1;
    right: 0;
  }


/*About me*/


.aboutmetext{
	  /*border: 2px solid #5e2ced;*/
      /*width: 150px;
      height: 100px;*/
      transform: skew(20deg);
      background: white;
      /*border-radius: 25px;*/

    
}

/*My Skills*/
/*Progress Bar*/




/*
#aaaa:hover {
	background-color: #5199FF!important;
	transform: scale(1.2) !important;
}
*/

a.effect-box:after,
a.effect-box:before {
	content: '';
  position: absolute;
  left: 25px;
  display: inline-block;
  height: 2em;
  width: 80%;
  margin-top: -5px;
  margin-bottom: 25px !important;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	
}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}






#landingpagename{
  font-size: calc(55px + 4vh);
  line-height: calc(30px + 4vh);

/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
 /* text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 98px #ffffff;
    color: #fff6a9;*/
  font-family: "Dancing Script", cursive;
  text-align: center;
 /* animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;*/
  margin-top: 10rem;
}




/*Projects*/
#PROJECTS{
	height: 100vh;
	width: 100%;
}

.project-img1{
	width: 22rem;
	height: 16rem;
	border-radius: 0%;
	margin: auto;
	background: url(../../assets/images/ca4.png) no-repeat;
	background-size: 130%;
	background-position: 50% 0;

}

.project-img2{
	width: 22rem;
	height: 16rem;
	border-radius: 0%;
	margin: auto;
	background: url(../../assets/images/ca2.png) no-repeat;
	background-size: 130%;
	background-position: 50% 0;
}

.project-img3{
	width: 22rem;
	height: 16rem;
	border-radius: 0%;
	margin: auto;
	background: url(../../assets/images/ca5.png) no-repeat;
	background-size: 130%;
	background-position: 50% 0;
}

.project-img4{
  width: 22rem;
  height: 16rem;
  border-radius: 0%;
  margin: auto;
  background: url(../../assets/images/ca6.png) no-repeat;
  background-size: 130%;
  background-position: 50% 0;
}

.project-img5{
  width: 22rem;
  height: 16rem;
  border-radius: 0%;
  margin: auto;
  background: url(../../assets/images/ca1.png) no-repeat;
  background-size: 130%;
  background-position: 50% 0;
}

.project-img6{
  width: 22rem;
  height: 16rem;
  border-radius: 0%;
  margin: auto;
  background: url(../../assets/images/ca8.png) no-repeat;
  background-size: 130%;
  background-position: 50% 0;
}

.project-link{
  z-index: 3;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  margin-bottom: 5rem;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 10rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}




/*Footer*/
.footer-main {
    background: #fbfbfd;
}

.new_footer_area {
    background: #fbfbfd;
}

.footer-btn{
  z-index: 5;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
